body{
    background-color: #dedafc;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.middle
{
    text-align: center;
    font-size: x-large;
}
.padding
{
    background-color: rgb(222, 228, 223);
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    background: linear-gradient(145deg, #cbe1cc, #f1fff3);
    box-shadow:  7px 7px 14px #bbd0bc,
             -7px -7px 14px #ffffff;
}
.padding:hover
{
    border-radius: 50px;
    background: #e1fae3;
    box-shadow: inset 7px 7px 14px #bbd0bc,
            inset -7px -7px 14px #ffffff;
}
    .section
    {
        align-items: center;
        text-decoration: none;
        margin-top: 30px;
        padding-top: 70px;
        padding-left: 150px;
        padding-right: 30px;
        padding-bottom: 70px;
        margin-bottom: 200px;
        border: 1px, solid, #f9eee1;
        border-radius: 30px;
        /* background-color: #f9eee1; */
    }
    .sections:hover
    {
        /* border-radius: 50px;
        background: linear-gradient(145deg, #eee9ff, #c8c4e3);
        box-shadow:  13px 13px 26px #b8b5d1,
             -13px -13px 26px #ffffff; */
        /* background-color: #dedafc; */
        border-radius: 50px;
        background: linear-gradient(145deg, #fff4d2, #e6cdb0);
        box-shadow:  9px 9px 18px #d4bda3,
             -9px -9px 18px #ffffe5;
        background: #ffe4c4;
    }
    .sections
    {
        color: black;
        text-decoration: none;
        text-align: center;
        margin: 10px;
        font-weight: 500;
        font-size: 30px ;
        list-style: none;
        padding: 20px;
        border: 3px, solid;
        background-color: #dedafc;
        /* border-radius: 50px;
        background: #dedafc;
        box-shadow: inset 13px 13px 26px #b8b5d1,
                    inset -13px -13px 26px #ffffff; */

                    border-radius: 50px;
                    background: #ffe4c4;
                    box-shadow: inset 9px 9px 18px #d4bda3,
                                inset -9px -9px 18px #ffffe5;
    }
.sec:nth-child(even)
{
    background-color: #f9eee1;
}
.sec
{
    text-align: center;
    background-color: #e1fae3;
}
#Education
{

}
.foot{
    text-align: center;
    margin: 40px;
}
.footer
{
    background-color: rgb(222, 228, 223);
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 50px;
    background: #e1fae3;
    box-shadow: inset 7px 7px 14px #bbd0bc,
            inset -7px -7px 14px #ffffff;
    font-size: x-large;
}
.footer:hover
{
    border-radius: 50px;
    background: linear-gradient(145deg, #cbe1cc, #f1fff3);
    box-shadow:  7px 7px 14px #bbd0bc,
             -7px -7px 14px #ffffff;
}
@media (min-width:300px) and (max-width:768px)
{
    .middle
    {
        min-height: 250px;
    }
    .padding
    {
        margin-top: 50px;
    }
    .section
    {
        padding-left: 120px;
        min-height: 300px;
    }
}

